* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: cornflowerblue;
  color: white;
  font-family: Cmbria, Arial;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

form {
  font-family: Arial;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

form input,
form textarea {
  outline: unset;
  padding: 20px;
  width: 300px;
  border: 1px solid cornflowerblue;
  border-radius: 13px;
}

form input:focus,
form textarea:focus {
  background-color: wheat;
}

.sub {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg {
  padding: 4px;
  width: 300px;
}

.name {
  padding: 4px;
}

.telefone {
  padding: 4px;
}
