body {
    background-color: #FFF0F5;
    width: 100%;
    font-family: Raleway;
}

#title {
    color: #B22222;
    text-align: center;
}

.frase1 {
    font-family: Lucida Console;
    color: #771302;
    text-align: center;
}

.check-option {
    font-family: Lucida Console;
    color: #000000;
    text-align: center;
}

.you-liked {
    color: #000000;
    text-align: center;
}

.text-area {
    color: #000000;
    text-align: center;
}